@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma");

@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma|Indie+Flower");


h1 {
  font-family: Baloo Tamma;
}

li {
  font-family: Indie Flower;
}

p {
  font-family: sans-serif;
}
html {
  background: url(http://thewebmadeeasy.com/AtomsNetwork/Files/332/backgroundrepeat_rendered01.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  color: yellow;
}
p {
  color: lime;
}
