@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma");

@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma|Indie+Flower");


h1 {
  font-family: Baloo Tamma;
}

li {
  font-family: Indie Flower;
}

p {
  font-family: sans-serif;
}
{
    background:url("https://fbi.dek-d.com/pic_warning.gif");
    background-repeat: no-repeat;
    padding:35px;
    background-origin: content-box;
}
body {
    background-image: url("https://fbi.dek-d.com/pic_warning.gif");
}
h1 {
  color: red;
}

h3 {
  color: green;
}

p {
  color: blue;
}
